<div class="form-new-exhibition">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Add a new exhibition</h1>
  </div>

  <div class="add-exhibition-block">

    <form [formGroup]="addNewExhibition" class="exhibition-form" (ngSubmit)="onSubmit()" novalidate>

      <div class="input-block">
        <label class="text-form">Exhibition`s name</label>
        <input type="text" name="name" formControlName="name" [class.hasError] = nameError>

        <div class="alert alert-danger my-alert" *ngIf="addNewExhibition.controls['name'].invalid && addNewExhibition.controls['name'].touched">
          Please enter exhibition name
        </div>
      </div>

      <div class="input-block">
        <label class="text-form pr-2">Date start</label>
        <input type="date" name="dateStart" formControlName="dateStart">

        <div class="alert alert-danger my-alert" *ngIf="addNewExhibition.controls['dateStart'].invalid && addNewExhibition.controls['dateStart'].touched">
          Please enter exhibitions date start
        </div>
      </div>

      <div class="input-block">
        <label class="text-form pr-2">Date end</label>
        <input type="date" name="dateEnd" formControlName="dateEnd">

        <div class="alert alert-danger my-alert" *ngIf="addNewExhibition.controls['dateEnd'].invalid && addNewExhibition.controls['dateEnd'].touched">
          Please enter exhibitions date end
        </div>
      </div>

      <div class="input-block">
        <label class="text-form">About exhibition</label>
        <textarea class="text-area" name="about" formControlName="about"></textarea>

        <div class="alert alert-danger my-alert alert-textarea" *ngIf="addNewExhibition.controls['about'].invalid && addNewExhibition.controls['about'].touched">
          Please enter something about exhibition
        </div>
      </div>

      <div class="input-block">
        <label class="text-form pr-2">Poster</label>
        <input type="file" (change)="onChangePoster($event)" name="poster" formControlName="poster">

        <div class="alert alert-danger my-alert" *ngIf="addNewExhibition.controls['poster'].invalid && addNewExhibition.controls['poster'].touched">
          Please select poster of exhibition
        </div>
      </div>

      <div class="button-block px-5 mt-3">
        <button class="button-form" type="submit" [disabled]="!addNewExhibition.valid">Add</button>
        <button class="button-form" type="button" routerLink="/exhibition">Back</button>
      </div>

    </form>

  </div>
</div>
