<app-introduction-template
  [title]="'Exhibitions'"
  [buttonText]="'exhibition'">
</app-introduction-template>

<div *ngIf="loading" class="preloader">
  <div class="line-separator"></div>
  <img src="assets/loader2.svg" class="preloader__image">
</div>


<div *ngIf="messages.textExhibitionAdded" class="text-exhibition-added-block">
  <div class="text-exhibition-added">
    Exhibition has been added
  </div>
</div>

<div *ngIf="messages.textExhibitionEdited" class="text-exhibition-added-block">
  <div class="text-exhibition-added">
    Exhibition has been edited
  </div>
</div>

<div *ngIf="messages.textExhibitionDeleted" class="text-exhibition-added-block">
  <div class="text-exhibition-added">
    Exhibition has been deleted
  </div>
</div>

<div *ngIf="textExhibitionDisconnect" class="text-exhibition-disconnect-block">
  <div class="text-exhibition-disconnect">
    Something went wrong
  </div>
</div>

<div *ngIf="!loading">
  <app-table-template
    [rows]="rows"
    [columns]="columns">
  </app-table-template>
</div>
