<app-introduction-template
  [title]="'Paintings'"
  [buttonText]="'painting'">
</app-introduction-template>

<div *ngIf="loading" class="preloader">
  <div class="line-separator"></div>
  <img src="assets/loader2.svg" class="preloader__image">
</div>


<div *ngIf="textPaintingAdded" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been added
  </div>
</div>

<div *ngIf="textPaintingEdited" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been edited
  </div>
</div>

<div *ngIf="textPaintingDeleted" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been deleted
  </div>
</div>

<div *ngIf="textPaintingDisconnect" class="text-painting-disconnect-block">
  <div class="text-painting-disconnect">
    Something went wrong
  </div>
</div>

<div *ngIf="!loading">
  <app-table-template
    [rows]="rows"
    [columns]="columns">
  </app-table-template>
</div>
