<app-introduction-template
  [title]="'Paintings'"
  [buttonText]="'painting'">
</app-introduction-template>

<div class="options-block">

  <div class="input-block">
    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-search icon-style" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <input type="text" class="input-style" placeholder="Search by name" [ngModel]="searchPainting"
           (ngModelChange)="searchPaintingChange($event)">
  </div>

  <div class="input-block">
    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-search icon-style" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <input type="text" class="input-style" placeholder="Search by genre" [ngModel]="searchPaintingGenre"
           (ngModelChange)="searchPaintingGenreChange($event)">
  </div>

  <div class="input-block-last">
    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-search icon-style" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd"
            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <input type="text" class="input-style input-style-last" placeholder="Search by author"
           [ngModel]="searchPaintingAuthor"
           (ngModelChange)="searchPaintingAuthorChange($event)">
  </div>

</div>

<div *ngIf="loading" class="preloader">
  <div class="line-separator"></div>
  <img src="assets/loader2.svg" class="preloader__image">
</div>


<div *ngIf="messages.textPaintingAdded" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been added
  </div>
</div>

<div *ngIf="messages.textPaintingEdited" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been edited
  </div>
</div>

<div *ngIf="messages.textPaintingDeleted" class="text-painting-added-block">
  <div class="text-painting-added">
    Painting has been deleted
  </div>
</div>

<div *ngIf="textPaintingDisconnect" class="text-painting-disconnect-block">
  <div class="text-painting-disconnect">
    Something went wrong
  </div>
</div>

<div *ngIf="!loading">
  <app-table-template
    [rows]="rows | SearchName:searchPainting | paintingSearchGenre:searchPaintingGenre
    | paintingSearchAuthor:searchPaintingAuthor"
    [columns]="columns">
  </app-table-template>
</div>
