<div class="main-dashboard">

  <div class="panels-block">
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
    <div class="panel"></div>
  </div>
<!--  <h3 class="dashboard-text py-4">Recently added paintings</h3>-->

<!--  <div class="block-painting pb-5">-->
<!--    <div class="article-block-painting">-->
<!--      <img src="../../../assets/12.jpg" class="painting-photo" alt="painting">-->
<!--      <div class="painting-text py-2">Девочка с персиками</div>-->
<!--    </div>-->
<!--    <div class="article-block-painting">-->
<!--      <img src="../../../assets/13.jpg" class="painting-photo" alt="painting">-->
<!--      <div class="painting-text py-2">Le fils de l'homme</div>-->
<!--    </div>-->
<!--    <div class="article-block-painting">-->
<!--      <img src="../../../assets/14.jpg" class="painting-photo" alt="painting">-->
<!--      <div class="painting-text py-2">Het meisje met de parel</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dashboard-button pb-5">-->
<!--    <a routerLink="/dashboard/paintings" class="text-dashboard-button px-5 py-2">View all</a>-->
<!--  </div>-->

<!--  <h3 class="line-separator dashboard-text">Recently added artists</h3>-->

<!--  <div class="block-artists pb-5">-->
<!--    <div class="article-block-artists">-->
<!--      <img src="../../../assets/botichelli.jpg" class="artist-photo" alt="painting">-->
<!--      <div class="artist-text py-2">Sandro Botticelli</div>-->
<!--    </div>-->
<!--    <div class="article-block-artists">-->
<!--      <img src="../../../assets/shagal.jpg" class="artist-photo" alt="painting">-->
<!--      <div class="artist-text py-2">Marc Chagall</div>-->
<!--    </div>-->
<!--    <div class="article-block-artists">-->
<!--      <img src="../../../assets/vangoh.jpg" class="artist-photo" alt="painting">-->
<!--      <div class="artist-text py-2">Vincent Willem van Gogh</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="dashboard-button pb-5">-->
<!--    <a routerLink="/dashboard/artists" class="text-dashboard-button px-5 py-2">View all</a>-->
<!--  </div>-->

<!--  <h3 class="line-separator dashboard-text py-5">Recently added exhibitions</h3>-->

<!--  <div class="block-exhibition pb-5">-->
<!--    <div class="row w-100">-->
<!--      <div class="col-lg-1"></div>-->
<!--      <div class="col-lg px-5">-->
<!--        <img src="../../../assets/31.jpg" alt="poster" class="poster px-5 w-100">-->
<!--      </div>-->
<!--      <div class="col-lg px-5 py-2">-->
<!--        <div class="text-exhibition">Name: </div>-->
<!--        <div class="exhibition-name">The Best of Arts</div>-->
<!--        <div class="text-exhibition">Date: </div>-->
<!--        <div class="exhibition-date">12 October - 31 December 2020</div>-->
<!--        <div class="text-exhibition">About: </div>-->
<!--        <div class="exhibition-about">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.-->
<!--          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.-->
<!--          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.-->
<!--          Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.-->
<!--          In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.-->
<!--          Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.-->
<!--          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.-->
<!--          Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.-->
<!--          Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.-->
<!--          Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.-->
<!--          Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.-->
<!--          Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.-->
<!--          Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</div>-->
<!--      </div>-->
<!--      <div class="col-lg-1"></div>-->
<!--    </div>-->

<!--    <div class="dashboard-button pt-5">-->
<!--      <a routerLink="/dashboard/exhibitions" class="text-dashboard-button px-5 py-2">View all</a>-->
<!--    </div>-->

<!--  </div>-->
</div>
