.main-dashboard{
width: calc(100% - 260px);
float: right;
background-color: #f1f1f1;
}

.panels-block{
width: 100%;
padding: 10px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.panel{
display: inline-block;
background-color: white;
width: 300px;
height: 200px;
margin: 10px;
border-radius: 15px;
}
.dashboard-text{
text-align: center;
font-family: 'Montserrat', sans-serif;;
color: #151515;
font-size: 36px;
line-height: 1.4;
}

.block-painting{
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}
.article-block-painting{
width: 33%;
padding: 0 5px;
}
.painting-photo{
object-fit: cover;
width: 100%;
height: 350px;
}
.painting-text{
text-align: center;
font-family: 'Montserrat', sans-serif;;
font-size: 24px;
color: #151515;
}

.line-separator{
  border-top: 1px solid #bfbfbf;
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

.block-artists{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.article-block-artists{
  width: 33%;
  padding: 0 15px;
}
.artist-photo{
  object-fit: cover;
  width: 100%;
  height: 350px;
}
.artist-text{
  text-align: center;
  font-family: 'Montserrat', sans-serif;;
  font-size: 24px;
  color: #151515;
}

.text-exhibition{
  font-family: 'Montserrat', sans-serif;;
  color: lightblue;
  font-size: 20px;
  padding: 5px 0;
}
.exhibition-name{
  font-family: 'Montserrat', sans-serif;;
  color: #151515;
  font-size: 24px;
  font-weight: bold;
}

.exhibition-date{
  font-family: 'Montserrat', sans-serif;;
  color: #151515;
  font-size: 20px;
  font-weight: bold;
}

.exhibition-about{
  font-family: 'Montserrat', sans-serif;;
  color: #151515;
  font-size: 15px;
}


@media (max-width: 700px) {
  .main-dashboard{
    width: 100%;
    margin-top: 60px;
  }
  .article-block-painting{
    width: 100%;
  }
.article-block-artists{
    width: 100%;
  }
}

@media (max-width: 530px) {
  .main-dashboard{
    width: 100%;
    margin-top: 120px;
  }
}























