<div class="form-new-artists">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Add a new artist</h1>
  </div>

  <div class="add-artist-block">
    <form id="aForm" name="form" [formGroup]="addNewArtist" class="artist-form" (ngSubmit)="onSubmit()" novalidate>

      <div class="input-block">
        <label class="text-form">Artist`s name *</label>
        <input type="text" name="name" formControlName="name" required [class.hasError]=nameError>

        <div class="alert alert-danger my-alert"
             *ngIf="addNewArtist.controls['name'].invalid && addNewArtist.controls['name'].touched">
          Please enter artist name
        </div>
      </div>


      <div class="input-block">
        <label class="text-form pr-2">Country *</label>
        <input type="text" name="country" formControlName="country" required>

        <div class="alert alert-danger my-alert"
             *ngIf="addNewArtist.controls['country'].invalid && addNewArtist.controls['country'].touched">
          Please enter artist's country of birth
        </div>
      </div>


      <div>
        <label class="text-form pr-2">Date of Birth *</label>
        <input type="date" name="dateBirth" formControlName="dateBirth" required>

        <div class="alert alert-danger my-alert"
             *ngIf="addNewArtist.controls['dateBirth'].invalid && addNewArtist.controls['dateBirth'].touched">
          Please enter the artist's date of birth
        </div>
      </div>


      <div>
        <label class="text-form pr-2">Date of Death</label>
        <input type="date" class="spec" name="dateDeath" formControlName="dateDeath">
      </div>

      <div>
        <label class="text-form pr-3">Photo *</label>
        <input class="file-in" id="file-in" type="file" (change)="onChange($event)" name="photo" formControlName="photo"
               accept="image/*" required>

        <div class="alert alert-danger my-alert"
             *ngIf="addNewArtist.controls['photo'].invalid && addNewArtist.controls['photo'].dirty">
          Please select artist photo
        </div>
      </div>


      <div class="input-block">
        <label class="text-form-select">Type *</label>
        <select size="1" class="select" name="occupation" formControlName="occupation">
          <option selected value="Painter">Painter</option>
          <option value="Sculptor">Sculptor</option>
          <option value="Photographer">Photographer</option>
        </select>

        <div class="alert alert-danger my-alert"
             *ngIf="addNewArtist.controls['occupation'].invalid && addNewArtist.controls['occupation'].touched">
          Please choose who the artist was
        </div>
      </div>


      <div class="button-block px-5 mt-2">
        <button class="button-form" type="submit" [disabled]="!addNewArtist.valid">Add</button>
        <button class="button-form" type="button" routerLink="/artist">Back</button>
      </div>

      <div class="opt-field">* - required field</div>

    </form>

  </div>
</div>
