.form-new-artists {
  width: calc(100% - 260px);
  background-color: #f1f1f1;
  height: 100vh;
  float: right;
}

.add-artist-block {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding-top: 31px;
  font-family: 'Montserrat', sans-serif;
}

.artist-form {
  width: 97%;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

input[type=text] {
  padding: 2px;
  background-color: #f1f1f1;
  border: 1px solid #bfbfbf;
  border-radius: 1px;
  margin-bottom: 10px;
  width: 60%;
  outline-color: #bfbfbf;
  outline-width: 1px;
}

input {
  font-size: 13px;
}

.text-form {
  font-size: 13px;
  padding-top: 5px;
  min-width: 120px;
}

.text-form-select {
  font-size: 13px;
  padding-top: 10px;
  min-width: 120px;

}

.select {
  width: 60%;
  font-size: 13px;
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-form {
  width: 100px;
  text-decoration: none;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0 40px;
}

.introduction {
  display: block;
  border-bottom: 1px solid #bfbfbf;
  width: 97%;
  margin: 0 auto;
  height: 86px;
}

.main-text-introduction {
  font-family: 'Montserrat', sans-serif;
  color: #66615b;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 7px;
}

.opt-field {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  padding-top: 10px;
}

.alert {
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 1px;
}

.my-alert {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 60%;
  font-size: 11px;
  margin-left: 120px;
  margin-bottom: 10px;
}

.text-form-spec {
}

@media (max-width: 700px) {
  .form-new-artists {
    width: 100%;
    padding-top: 70px;
  }
  .introduction {
    width: 100%;
  }
  .main-text-introduction {
    text-align: center;
  }
}

@media (max-width: 512px) {
  .introduction {
    height: 135px;
  }
  .add-artist-block {
    width: 100%;
  }
  .main-text-introduction {
    margin-top: 60px;
  }
}

@media (max-width: 450px) {
  .my-alert {
    margin-left: 0;
    width: 100%;
  }
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type=text] {
    width: 100%;
  }
  .select {
    width: 100%;
  }
}


//.ng-dirty:not(form){
//  border: 3px solid #ff7369;
//}
//
//.ng-touched:not(form, select){
//  border: 3px solid #ff7369;
//}


input[type=file].ng-valid[required], input[type=file].ng-valid.required {
  box-shadow: -9px 0px 6px -5px #4ab84282;
}

.ng-valid[required]:not([type=file]), .ng-valid.required:not([type=file]) {
  box-shadow: 0 0 5px #4ab842;
  background-color: white;
}


