<div class="form-edit-artist">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Edit artist</h1>
  </div>

  <div class="edit-artist-block">
    <form *ngIf="artistEdit" id="aForm" [formGroup]="editNewArtist" class="artist-form" (ngSubmit)="onSubmit()"
          novalidate>

      <div class="input-block">
        <label class="text-form">Artist`s name</label>
        <input [(ngModel)]="artistEdit.name" placeholder="{{artistEdit.name}}" type="text" name="name"
               formControlName="name" [class.hasError]=nameError>
      </div>


      <div class="input-block">
        <label class="text-form pr-2">Country</label>
        <input [(ngModel)]="artistEdit.country" placeholder="{{artistEdit.country}}" type="text" name="country"
               formControlName="country">
      </div>

      <div>
        <label class="text-form pr-2">Date of Birth</label>
        <input [ngModel]="artistEdit.dateBirth | date:'yyyy-MM-dd'" type="date" name="dateBirth"
               formControlName="dateBirth">
      </div>


      <div>
        <label class="text-form pr-2">Date of Death</label>
        <input [ngModel]="artistEdit.dateDeath | date:'yyyy-MM-dd'" type="date" class="spec" name="dateDeath"
               formControlName="dateDeath">
      </div>

      <div class="input-block">
        <label class="text-form-select">Type</label>
        <select [(ngModel)]="artistEdit.occupation" size="1" class="select" name="occupation"
                formControlName="occupation">
          <option selected value="Painter">Painter</option>
          <option value="Sculptor">Sculptor</option>
          <option value="Photographer">Photographer</option>
        </select>
      </div>

      <div>
        <label class="text-form pr-2">Last modified</label>
        <input [ngModel]="artistEdit.lastModified | date:'yyyy-MM-dd'" type="date" name="lastModified"
               formControlName="lastModified" readonly>
      </div>

      <div class="button-block px-5 mt-2">
        <button class="button-form" type="submit" [disabled]="!editNewArtist.valid">Edit</button>
        <button class="button-form" type="button" routerLink="/artist">Back</button>
      </div>

    </form>

  </div>

</div>

