.form-edit-exhibition{
  width: calc(100% - 260px);
  background-color: #f1f1f1;
  height: 100vh;
  float: right;
}

.introduction{
  display: block;
  border-bottom: 1px solid #bfbfbf;
  width: 97%;
  margin: 0 auto;
  height: 86px;
}

.main-text-introduction{
  font-family: 'Montserrat', sans-serif;
  color: #66615b;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 7px;
}
