<div class="form-edit-exhibition">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Edit exhibition</h1>
  </div>

  <div class="edit-exhibition-block">
    <form *ngIf="exhibitionEdit" id="aForm" [formGroup]="editNewExhibition" class="exhibition-form"
          (ngSubmit)="onSubmit()" novalidate>

      <div class="input-block">
        <label class="text-form">Name</label>
        <input [(ngModel)]="exhibitionEdit.name" placeholder="{{exhibitionEdit.name}}" type="text" name="name"
               formControlName="name" [class.hasError]=nameError>
      </div>


      <div>
        <label class="text-form pr-2">Date start</label>
        <input [ngModel]="exhibitionEdit.dateStart | date:'yyyy-MM-dd'" type="date" name="dateStart"
               formControlName="dateStart">
      </div>

      <div>
        <label class="text-form pr-2">Date end</label>
        <input [ngModel]="exhibitionEdit.dateEnd | date:'yyyy-MM-dd'" type="date" name="dateEnd"
               formControlName="dateEnd">
      </div>


      <div class="input-block">
        <label class="text-form">About exhibition</label>
        <textarea [(ngModel)]="exhibitionEdit.about" placeholder="{{exhibitionEdit.about}}" class="text-area"
                  name="about" formControlName="about"></textarea>
      </div>

      <div>
        <label class="text-form pr-2">Last modified</label>
        <input [ngModel]="exhibitionEdit.lastModified | date:'yyyy-MM-dd'" type="date" name="lastModified"
               formControlName="lastModified" readonly>
      </div>


      <div class="button-block px-5 mt-2">
        <button class="button-form" type="submit" [disabled]="!editNewExhibition.valid">Edit</button>
        <button class="button-form" type="button" routerLink="/exhibition">Back</button>
      </div>

    </form>

  </div>

  <div class="delete-exhibition-block mt-3">
    <div class="delete-text">Do you want to delete this exhibition?</div>
    <button class="delete-button" (click)="onDelete()">Delete</button>
  </div>

  <div *ngIf="deleteExhibition">
    <div class="delete-second-block">
      <div class="delete-second-text">Are you sure?</div>
      <div class="delete-second-button-block">
        <button (click)="onDeleteYes()" class="delete-second-button">Yes</button>
        <button (click)="onDeleteNo()" class="delete-second-button">No</button>
      </div>
    </div>
  </div>

</div>
