.form-edit-exhibition {
  width: calc(100% - 260px);
  background-color: #f1f1f1;
  height: 100vh;
  float: right;
}

.introduction {
  display: block;
  border-bottom: 1px solid #bfbfbf;
  width: 97%;
  margin: 0 auto;
  height: 86px;
}

.main-text-introduction {
  font-family: 'Montserrat', sans-serif;
  color: #66615b;
  font-size: 20px;
  margin-top: 7px;
  margin-left: 7px;
}

.delete-exhibition-block {
  width: 97%;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-text {
  font-family: 'Montserrat', sans-serif;
  color: #212529;
  font-size: 13px;
  padding-top: 7px;
}

.delete-button {
  width: 100px;
  text-decoration: none;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0 40px;
}

.edit-exhibition-block {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  padding-top: 31px;
  font-family: 'Montserrat', sans-serif;
}

.exhibition-form {
  width: 97%;
  background-color: white;
  padding: 40px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

input[type=text] {
  padding: 2px;
  background-color: #f1f1f1;
  border: 1px solid #bfbfbf;
  border-radius: 1px;
  margin-bottom: 10px;
  width: 60%;
  outline-color: #bfbfbf;
  outline-width: 1px;
}

input {
  font-size: 13px;
}

.text-form {
  font-size: 13px;
  padding-top: 5px;
  min-width: 120px;
}

.text-area {
  width: 100%;
  font-size: 13px;
  height: 80px;
  background-color: #f1f1f1;
}

.button-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-form {
  width: 100px;
  text-decoration: none;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 0 40px;
}

.delete-second-block {
  left: 260px;
  width: calc(100% - 260px);
  position: fixed;
  top: 35%;
  bottom: 40%;
  overflow: hidden;
  background: white;
  z-index: 1002;
  opacity: 0.9;
  border: 1px solid #bfbfbf;
}

.delete-second-text {
  font-family: 'Montserrat', sans-serif;
  color: #151515;
  font-size: 25px;
  position: relative;
  text-align: center;
  top: 30%;
}

.delete-second-button {
  width: 100px;
  text-decoration: none;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 70px 40px 0 40px;
}

.delete-second-button-block {
  text-align: center;
}

@media (max-width: 700px) {
  .form-edit-exhibition {
    width: 100%;
    padding-top: 70px;
  }
  .introduction {
    width: 100%;
  }
  .main-text-introduction {
    text-align: center;
  }
  .delete-second-block {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 512px) {
  .introduction {
    height: 135px;
  }
  .edit-exhibition-block {
    width: 100%;
  }
  .main-text-introduction {
    margin-top: 60px;
  }
}

@media (max-width: 450px) {
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  input[type=text] {
    width: 100%;
  }
  .select {
    width: 100%;
  }
  .delete-second-block {
    height: 347px;
  }
  .delete-second-text {
    top: 44%;
  }
}
