<div class="table-template">

  <div class="line-separator"></div>

  <ngx-datatable *ngIf="rows"
    class="material"
    [headerHeight]="50"
    [columnMode]="'force'"
    [rowHeight]="'auto'"
    [columns]="columns"
    [rows]="rows">
  </ngx-datatable>

</div>


<ng-template #linkTemp let-row="row" let-value="value">
    <a class="nav-link" [routerLink]="[row._id]">
      {{value}}
    </a>
</ng-template>

<ng-template #dateTemp let-row="row" let-value="value">
  {{value | date: "dd-MM-yyyy"}}
</ng-template>

<ng-template #yearTemp let-row="row" let-value="value">
  {{value | date: "yyyy"}}
</ng-template>
