.table-template {
  width: calc(100% - 260px);
  float: right;
  background-color: #f1f1f1;
  height: 100vh;
}

ngx-datatable {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  width: 97%;
  margin: 15px auto 0 auto;
}

.nav-link{
  padding: 0;
}

.table-button{
  margin: 2px;
  background-color: #efefef;
  text-decoration: none;
  padding: 2px 0;
  border: 1px solid black;
  border-radius: 1px;
  width: 40px;
}

.delete-second-block {
  left: 260px;
  width: calc(100% - 260px);
  position: fixed;
  top: 35%;
  bottom: 40%;
  overflow: hidden;
  background: white;
  z-index: 1002;
  opacity: 0.9;
  border: 1px solid #bfbfbf;
}

.delete-second-text {
  font-family: 'Montserrat', sans-serif;
  color: #151515;
  font-size: 25px;
  position: relative;
  text-align: center;
  top: 30%;
}

.delete-second-button {
  width: 100px;
  text-decoration: none;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 1px;
  margin: 70px 40px 0 40px;
}

.delete-second-button-block {
  text-align: center;
}

@media (max-width: 700px) {
  .table-template {
    width: 100%;
  }
  .delete-second-block {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 450px) {
  .delete-second-block {
    height: 347px;
  }
  .delete-second-text {
    top: 44%;
  }
}
