<div class="form-new-painting">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Adding a new painting</h1>
  </div>

  <div class="add-painting-block">

    <form [formGroup]="addNewPainting" class="painting-form" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label class="text-form">Name painting</label>
        <input type="text" formControlName="name">
      </div>

      <div>
        <label class="text-form">Genre</label>
        <input type="text" formControlName="genre">
      </div>

      <div>
        <label class="text-form">Author</label>
        <input type="text" formControlName="author">
      </div>

      <div>
        <label class="text-form pr-2">Date of creation</label>
        <input type="date" formControlName="dateCreation">
      </div>

      <div>
        <label class="text-form pr-2">Picture</label>
        <input type="file" formControlName="picture">
      </div>

      <div class="button-block px-5 mt-3">
        <button class="button-form" type="submit" [disabled]="!addNewPainting.valid">Add</button>
        <button class="button-form" type="submit" routerLink="/artists">Back</button>
      </div>

    </form>

  </div>
</div>
