<div class="form-new-artists">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Adding a new artist</h1>
  </div>

  <div class="add-artist-block">
    <form id="aForm" [formGroup]="addNewArtist" class="artist-form" (ngSubmit)="onSubmit()" novalidate>

      <div class="input-block">
        <label class="text-form">Name artists</label>
        <input type="text" name="name" formControlName="name" required>
      </div>

      <div class="input-block">
        <label class="text-form pr-2">Country</label>
        <input type="text" name="country" formControlName="country" required>
      </div>

      <div>
        <label class="text-form pr-2">Date of Birth</label>
        <input type="date" name="dateBirth" formControlName="dateBirth" required>
      </div>

      <div>
        <label class="text-form pr-2">Date of death</label>
        <input type="date" class="spec" name="dateDeath" formControlName="dateDeath">
      </div>

      <div>
        <label class="text-form pr-3">Photo</label>
        <input type="file" name="photo" formControlName="photo" required>
      </div>

      <div class="input-block">
        <label class="text-form-select">Type</label>
        <select  size="1" class="select" name="occupation" formControlName="occupation">
          <option selected value="Painter">Painter</option>
          <option value="Sculptor">Sculptor</option>
          <option value="Photographer">Photographer</option>
        </select>
      </div>

      <div class="button-block px-5 mt-2">
        <button class="button-form" type="submit" [disabled]="!addNewArtist.valid">Add</button>
        <button class="button-form" type="button" routerLink="/artists">Back</button>
      </div>

    </form>

  </div>
</div>
