<div class="form-new-artists">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Adding a new artist</h1>
  </div>

  <div class="add-artist-block">
    <form [formGroup]="addNewArtist" class="artist-form" novalidate>
      <div>
        <label class="text-form">Name artists</label>
        <input type="text" formControlName="name">
      </div>

      <div>
        <label class="text-form">Photo</label>
        <input type="file" formControlName="pgoto">
      </div>

<!--      <div>-->
<!--        <label class="text-form">Occupation</label>-->
<!--        <input type="text" formControlName="occupation">-->
<!--      </div>-->

      <label class="text-form-select">Type</label>
      <select size="1" class="select"  name="occupation">
        <option value="Painter">Painter</option>
        <option selected value="Sculptor">Sculptor</option>
        <option value="Photographer">Photographer</option>
      </select>

      <button class="button-form" type="submit">Add</button>

    </form>

  </div>
</div>
