<div class="main-dashboard">

  <div class="panels-block">
    <div class="panel">
      <div class="panels-text">All artists: </div>
      <div class="panels-text pl-3">{{artist.length}}</div>
    </div>
    <div class="panel">
      <div class="panels-text">All paintings: </div>
      <div class="panels-text pl-3">{{painting.length}}</div>
    </div>
    <div class="panel">
      <div class="panels-text">All exhibitions: </div>
      <div class="panels-text pl-3">{{exhibition.length}}</div>
    </div>
    <div class="panel">
      <div class="panels-text">Total data: </div>
      <div class="panels-text pl-3">{{(exhibition.length)+(painting.length)+(artist.length)}}</div>
    </div>
  </div>

  <h3 class="dashboard-text py-4">Recently added paintings</h3>

    <div class="block-painting pb-5">
    <div *ngFor="let itemPainting of painting | slice: -3" class="article-block-painting">
      <img src="../../../assets/12.jpg" class="painting-photo" alt="painting">
      <div class="painting-text py-2">{{itemPainting.name}}</div>
    </div>
<!--    <div class="article-block-painting">-->
<!--      <img src="../../../assets/13.jpg" class="painting-photo" alt="painting">-->
<!--      <div class="painting-text py-2">Le fils de l'homme</div>-->
<!--    </div>-->
<!--    <div class="article-block-painting">-->
<!--      <img src="../../../assets/14.jpg" class="painting-photo" alt="painting">-->
<!--      <div class="painting-text py-2">Het meisje met de parel</div>-->
<!--    </div>-->
  </div>

  <h3 class="line-separator dashboard-text">Recently added artists</h3>

  <div class="block-artists pb-5">
    <div *ngFor="let itemArtist of artist | slice: -3" class="article-block-artists">
      <img src="../../../assets/botichelli.jpg" class="artist-photo" alt="painting">
      <div class="artist-text py-2">{{itemArtist.name}} | {{itemArtist.occupation}}</div>
    </div>
<!--    <div class="article-block-artists">-->
<!--      <img src="../../../assets/shagal.jpg" class="artist-photo" alt="painting">-->
<!--      <div class="artist-text py-2">Marc Chagall</div>-->
<!--    </div>-->
<!--    <div class="article-block-artists">-->
<!--      <img src="../../../assets/vangoh.jpg" class="artist-photo" alt="painting">-->
<!--      <div class="artist-text py-2">Vincent Willem van Gogh</div>-->
<!--    </div>-->
  </div>


  <h3 class="line-separator dashboard-text py-5">Recently added exhibitions</h3>

  <div class="block-exhibition pb-5">
    <div *ngFor="let itemExhibition of exhibition | slice: -2" class="row w-100 pb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg px-5">
        <img src="../../../assets/31.jpg" alt="poster" class="poster px-5 w-100">
      </div>
      <div class="col-lg px-5 py-2">
        <div class="text-exhibition">Name: </div>
        <div class="exhibition-name">{{itemExhibition.name}}</div>
        <div class="text-exhibition">Date: </div>
        <div class="exhibition-date">{{itemExhibition.dateStart | date: 'longDate'}} - {{itemExhibition.dateEnd | date: 'longDate'}}</div>
        <div class="text-exhibition">About: </div>
        <div class="exhibition-about">{{itemExhibition.about}}</div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
