<div class="introduction">
  <h1 class="main-text-introduction">Dashboard</h1>
</div>

<div class="main-dashboard">

  <div class="line-separator-main"></div>

  <div class="panels-block">
    <div class="panel">
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-person sidebar-icon style-icon text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      </svg>
      <div class="panels-block-title">
        <div class="panels-text">Artists</div>
        <div class="num">{{artist.length}}</div>
      </div>
    </div>
    <div class="panel">
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-brush sidebar-icon style-icon text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.213 1.018a.572.572 0 0 1 .756.05.57.57 0 0 1 .057.746C15.085 3.082 12.044 7.107 9.6 9.55c-.71.71-1.42 1.243-1.952 1.596-.508.339-1.167.234-1.599-.197-.416-.416-.53-1.047-.212-1.543.346-.542.887-1.273 1.642-1.977 2.521-2.35 6.476-5.44 7.734-6.411z"/>
        <path d="M7 12a2 2 0 0 1-2 2c-1 0-2 0-3.5-.5s.5-1 1-1.5 1.395-2 2.5-2a2 2 0 0 1 2 2z"/>
      </svg>
      <div class="panels-block-title">
        <div class="panels-text">Paintings</div>
        <div class="num">{{painting.length}}</div>
      </div>
    </div>
    <div class="panel">
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-easel sidebar-icon style-icon text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.473.337a.5.5 0 0 0-.946 0L6.954 2h2.092L8.473.337zM12.15 11h-1.058l1.435 4.163a.5.5 0 0 0 .946-.326L12.15 11zM8.5 11h-1v2.5a.5.5 0 0 0 1 0V11zm-3.592 0H3.85l-1.323 3.837a.5.5 0 1 0 .946.326L4.908 11z"/>
        <path fill-rule="evenodd" d="M14 3H2v7h12V3zM2 2a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
      </svg>
      <div class="panels-block-title">
        <div class="panels-text">Exhibitions</div>
        <div class="num">{{exhibition.length}}</div>
      </div>
    </div>
    <div class="panel">
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-house sidebar-icon style-icon text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
      <div class="panels-block-title">
        <div class="panels-text">Total</div>
        <div class="num">{{(exhibition.length)+(painting.length)+(artist.length)}}</div>
      </div>
    </div>
  </div>

  <div class="tables-block">
    <div class="article-tables">
      <div class="table-and-text">
        <div class="text-block">
          <div class="table-text">Recently added artists</div>
          <a class="table-text table-link" routerLink="/artist">View all</a>
        </div>
          <ngx-datatable *ngIf="rowsArtist"
                       class="material"
                       [limit]="10"
                       [headerHeight]="50"
                       [columnMode]="'force'"
                       [rowHeight]="'auto'"
                       [columns]="columnsArtist"
                       [rows]="rowsArtist">
        </ngx-datatable>
      </div>
    </div>
    <div class="article-tables">
      <div class="table-and-text">
        <div class="text-block">
          <div class="table-text">Recently added paintings</div>
          <a class="table-text table-link" routerLink="/painting">View all</a>
        </div>
        <ngx-datatable *ngIf="rowsPainting"
                       class="material"
                       [limit]="10"
                       [headerHeight]="50"
                       [columnMode]="'force'"
                       [rowHeight]="'auto'"
                       [columns]="columnsPainting"
                       [rows]="rowsPainting">
        </ngx-datatable>
      </div>
    </div>
    <div class="article-tables last">
      <div class="table-and-text">
        <div class="text-block">
          <div class="table-text">Recently added exhibitions</div>
          <a class="table-text table-link" routerLink="/exhibition">View all</a>
        </div>
        <ngx-datatable *ngIf="rowsExhibition"
                       class="material"
                       [limit]="10"
                       [headerHeight]="50"
                       [columnMode]="'force'"
                       [rowHeight]="'auto'"
                       [columns]="columnsExhibition"
                       [rows]="rowsExhibition">
        </ngx-datatable>
      </div>
    </div>
  </div>

  <ng-template #linkTemp let-row="row" let-value="value">
    <a class="nav-link" routerLink="/">
      {{value}}
    </a>
  </ng-template>

  <ng-template #dateTemp let-row="row" let-value="value">
    {{value | date: "dd-MM-yyyy"}}
  </ng-template>

  <ng-template #yearTemp let-row="row" let-value="value">
    {{value | date: "yyyy"}}
  </ng-template>


  <h3 class="dashboard-text py-4">Recently added paintings</h3>

    <div class="block-painting pb-5">
    <div *ngFor="let itemPainting of painting | slice: -3" class="article-block-painting">
      <img src="../../../assets/12.jpg" class="painting-photo" alt="painting">
      <div class="painting-text py-2">{{itemPainting.name}}</div>
    </div>
  </div>

  <h3 class="line-separator dashboard-text">Recently added artists</h3>

  <div class="block-artists pb-5">
    <div *ngFor="let itemArtist of artist | slice: -3" class="article-block-artists">
      <img src="../../../assets/botichelli.jpg" class="artist-photo" alt="painting">
      <div class="artist-text py-2">{{itemArtist.name}} | {{itemArtist.occupation}}</div>
    </div>
  </div>


  <h3 class="line-separator dashboard-text py-5">Recently added exhibitions</h3>

  <div class="block-exhibition pb-5">
    <div *ngFor="let itemExhibition of exhibition | slice: -2" class="row w-100 pb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg px-5">
        <img src="../../../assets/31.jpg" alt="poster" class="poster px-5 w-100">
      </div>
      <div class="col-lg px-5 py-2">
        <div class="text-exhibition">Name: </div>
        <div class="exhibition-name">{{itemExhibition.name}}</div>
        <div class="text-exhibition">Date: </div>
        <div class="exhibition-date">{{itemExhibition.dateStart | date: 'longDate'}} - {{itemExhibition.dateEnd | date: 'longDate'}}</div>
        <div class="text-exhibition">About: </div>
        <div class="exhibition-about">{{itemExhibition.about}}</div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</div>
