.introduction{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: calc(100% - 260px);
  float: right;
  background-color: #f1f1f1;
  padding: 26px 0;
}
.main-text-introduction{
  font-family: 'Montserrat', sans-serif;
  color: #66615b;
  font-size: 20px;
  margin: 5px 20px;
}

.line-separator-main{
  border-top: 1px solid #bfbfbf;
  width: 97%;
  margin: 0 auto;
}




.main-dashboard{
  width: calc(100% - 260px);
  float: right;
  background-color: #f1f1f1;
}

.panels-block{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 5px;
}

.panel{
  display: flex;
  //justify-content: center;
  //align-items: center;
  background-color: white;
  width: calc(25% - 20px);
  height: 95px;
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.style-icon{
  margin-top: 10px;
}
.panels-block-title{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}
.num{
  font-size: 30px;
  color: #151515;
  font-family: 'Montserrat', sans-serif;
}
.panels-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #9a9a9a;
}


ngx-datatable{
  box-shadow: none!important;
}
.tables-block{
  width: 100%;
  padding: 0 5px;
}
.article-tables{
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.last{
  width: calc(100% - 20px);
}
.text-block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.table-text{
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  color: #9a9a9a;
}
.table-link{
  color: #8e96ff;
  text-decoration: underline;
  font-size: 16px;
  padding-top: -84px;
}

@media (max-width: 1160px) {
  .article-tables{
    width: calc(100% - 20px);
   }
}

@media (max-width: 1000px) {
  .panel{
    width: calc(50% - 20px);
  }
}

@media (max-width: 700px) {
  .main-dashboard{
    width: 100%;
  }
  .introduction{
    width: 100%;
  }
  .main-text-introduction{
    margin-top: 60px;
    text-align: center;
  }
}

@media (max-width: 530px) {
  .main-dashboard{
    width: 100%;
  }
  .main-text-introduction{
    margin-top: 130px;
  }
}























