<app-introduction-template
  [title]="'Artists'"
  [buttonText]="'artist'">
</app-introduction-template>

<div class="options-block">

  <select size="1" class="select" name="occupation" [ngModel]="selection" (ngModelChange)="selectionChange($event)">
    <option selected value="">All</option>
    <option value="Painter">Painter</option>
    <option value="Sculptor">Sculptor</option>
    <option value="Photographer">Photographer</option>
  </select>

  <div class="input-block">
    <svg width="13px" height="13px" viewBox="0 0 16 16" class="bi bi-search icon-style" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
      <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
    </svg>
    <input type="text" class="input-style" placeholder="Search by name" [ngModel]="searchArtist" (ngModelChange)="searchArtistChange($event)">
  </div>

</div>

<div *ngIf="loading" class="preloader">
  <div class="line-separator"></div>
  <img src="assets/loader2.svg" class="preloader__image">
</div>


<div *ngIf="messages.textArtistAdded" class="text-artist-added-block">
  Artist has been added
</div>

<div *ngIf="messages.textArtistEdited" class="text-artist-added-block">
  Artist has been edited
</div>

<div *ngIf="messages.textArtistDeleted" class="text-artist-added-block">
  Artist has been deleted
</div>

<div *ngIf="textArtistDisconnect" class="text-artist-disconnect-block">
  <div class="text-artist-disconnect">
    Something went wrong
  </div>
</div>

<div *ngIf="!loading">
  <app-table-template
    [rows]="rows | artistSelection:selection | artistSearchName:searchArtist"
    [columns]="columns">
  </app-table-template>
</div>
