.text-artist-added-block {
  font-family: 'Montserrat', sans-serif;
  color: #4ab842;
  font-size: 15px;
  position: fixed;
  padding-left: 20px;
  overflow: hidden;
  z-index: 1002;
  padding-top: 215px;
}

.text-artist-disconnect-block {
  position: fixed;
  left: 30px;
  top: 35%;
  right: 30px;
  bottom: 40%;
  overflow: hidden;
  background: white;
  z-index: 1002;
  opacity: 0.9;
  border: 1px solid #bfbfbf;
}

.text-artist-disconnect {
  font-family: 'Montserrat', sans-serif;
  color: #ff3030;
  font-size: 25px;
  position: relative;
  text-align: center;
  top: 39%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 211px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #f1f1f1;
  z-index: 1001;
}

.line-separator {
  border-bottom: 1px solid #bfbfbf;
  width: 97%;
  margin: 0 auto;
}

.preloader__image {
  position: relative;
  top: 50%;
  opacity: 0.2;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.options-block{
  display: flex;
  z-index: 3000;
  float: right;
  background-color: #f1f1f1;
  width: calc(100% - 260px);
  justify-content: flex-end;
  padding-top: 15px;
}
.input-style{
  width: 368px;
  padding-left: 25px;
}
.select{
  margin-right: 1.5%;
}

.input-block{
  margin-right: 1.5%;
}
.icon-style{
  height: 26px;
  margin-right: -22px;
  position: relative;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

@media (min-width: 530px) {
  .preloader {
    top: 141px;
  }
  .text-artist-added-block {
    padding-top: 145px;
  }
}

@media (min-width: 701px) {
  .preloader {
    top: 86px;
    left: 260px;
  }
  .text-artist-disconnect-block {
    left: 290px;
  }
  .text-artist-added-block {
    padding-left: 280px;
    padding-top: 90px;
  }
}

