<div class="form-new-exhibition">

  <div class="introduction py-4">
    <h1 class="main-text-introduction">Adding a new exhibition</h1>
  </div>

  <div class="add-exhibition-block">

    <form [formGroup]="addNewExhibition" class="exhibition-form" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <label class="text-form">Name exhibition</label>
        <input type="text" formControlName="name">
      </div>

      <div>
        <label class="text-form pr-2">Date start</label>
        <input type="date" formControlName="dateStart">
      </div>

      <div>
        <label class="text-form pr-2">Date end</label>
        <input type="date" formControlName="dateEnd">
      </div>

      <div>
        <label class="text-form">About exhibition</label>
        <textarea class="text-area" formControlName="about"></textarea>
      </div>

      <div>
        <label class="text-form pr-2">Poster</label>
        <input type="file" formControlName="poster">
      </div>

      <button class="button-form" type="submit" [disabled]="!addNewExhibition.valid">Add</button>

    </form>

  </div>
</div>
